# -----------------------------------------------------------------------------
# General
# -----------------------------------------------------------------------------

# Never ignore .gitkeep files
!**/.gitkeep

# macOS internals
.DS_Store

# -----------------------------------------------------------------------------
# Python, Rust
# -----------------------------------------------------------------------------

# Environments
.venv

# Artifacts
__pycache__
*.dll
*.so
/target
/.cache

# Tracing
trace.json

# -----------------------------------------------------------------------------
# Builds
# -----------------------------------------------------------------------------

/site
/dist
/.debug
