[data-md-color-scheme="default"] .md-typeset ul.grid.cards > li.featured {
    background-color: oklch(from var(--md-accent-fg-color) l c h / 0.05);
    border-color: var(--md-accent-fg-color);

    &:hover {
        background-color: oklch(from var(--md-accent-fg-color) l c h / 0.08);
        border-color: oklch(from var(--md-accent-fg-color) calc(l + 0.5) 0.1 h);
    }
}

[data-md-color-scheme="slate"] .md-typeset ul.grid.cards > li.featured {
    background-color: oklch(from var(--md-accent-fg-color) l c h / 0.05);
    border-color: var(--md-accent-fg-color);

    &:hover {
        background-color: oklch(from var(--md-accent-fg-color) l c h / 0.08);
        border-color: oklch(from var(--md-accent-fg-color) calc(l - 0.5) c h);
    }
}

.md-typeset ol:not([hidden]),
.md-typeset ul:not([hidden]) {
    display: grid;
}
.md-typeset ol.grid.cards > li,
.md-typeset ul.grid.cards > li,
.md-typeset .grid > .card {
    border: 0.05rem solid var(--md-default-fg-color--lightest);
    border-radius: 0.4rem;
    display: block;
    margin: 0;
    padding: 0.8rem;
    transition:
        background-color 0.25s,
        border 0.25s,
        box-shadow 0.25s;
}
.md-typeset ol.grid.cards > li:focus-within,
.md-typeset ol.grid.cards > li:hover,
.md-typeset ul.grid.cards > li:focus-within,
.md-typeset ul.grid.cards > li:hover,
.md-typeset .grid > .card:focus-within,
.md-typeset .grid > .card:hover {
    border-color: #0000;
    box-shadow: var(--md-shadow-z2);
}
.md-typeset ol.grid.cards > li > hr,
.md-typeset ul.grid.cards > li > hr,
.md-typeset .grid > .card > hr {
    margin-bottom: 1em;
    margin-top: 1em;
}
.md-typeset ol.grid.cards > li > :first-child,
.md-typeset ul.grid.cards > li > :first-child,
.md-typeset .grid > .card > :first-child {
    margin-top: 0;
}
.md-typeset ol.grid.cards > li > :last-child,
.md-typeset ul.grid.cards > li > :last-child,
.md-typeset .grid > .card > :last-child {
    margin-bottom: 0;
}

.md-typeset .emojione,
.md-typeset .gemoji,
.md-typeset .twemoji {
    vertical-align: middle;
}
